<!DOCTYPE html>
<html>
  <head>
    <title>Wine Recommendation Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Wine Recommendation Engine</h1>
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <input type="text" name="wine_desc" class="form-control" id="desc-box" placeholder="Enter wine description..." style="max-width: 800px;" autofocus required>
          <br>
          <input type="number" name="min_points" class="form-control" id="points-box" placeholder="Enter wine minimum points..." style="max-width: 800px;" min="0" required>
          <br>
          <input type="number" name="max_price" class="form-control" id="price-box" placeholder="Enter wine max price..." style="max-width: 800px;" min="0" required>
          <br>
          <select name="variety" id="variety-box">
            <option value="Any">Any</option>
            <option value="Red">Red</option>
            <option value="White">White</option>
            <option value="Red Blend">Red Blend</option>
            <option value="Rose">Rose</option>
            <option value="Sparkling">Sparkling</option>
            <option value="White Blend">white blend</option>
            <option value="Dessert">Dessert</option>
            <option value="Red-White Blend">Red-White Blend</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <br>
      {% for table in tables %}
        <h4>{{ titles[loop.index] }}</h4>
        {{table|safe}}
      {% endfor %}
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>